<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Businesses near you</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottom Left Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles if needed */
        body {
            margin-bottom: 70px;
            /* Adjust this value based on your content and the size of the fixed element */
        }

        .fixed-bottom-left {
            position: fixed;
            bottom: 10px;
            left: 10px;
        }
    </style>
</head>

<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="search()">Search</button>
            <button class="btn btn-outline-secondary" onclick="clearSearch()">
                &times;
            </button>
        </div>
    </div>
</div>

<ul class="list-group list-group-flush" id="notes">
    {% for user in all_users %}
    <li class="list-group-item" onclick="goto('{{ user.first_name }}')">
        {{ user.first_name }}
    </li>
    {% endfor %}
</ul>

<script>
    function clearSearch() {
        document.getElementById('searchInput').value = '';
        // Reset the UI to show all notes
        // You may want to reload the original notes here
    }
    function search() {
        if (document.getElementById('searchInput').value == '') {
            return
        }
        var searchTerm = document.getElementById('searchInput').value;

        // Make an AJAX request to the server
        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'keyword': searchTerm,
            }),
        })
            .then(response => response.text())
            .then(data => {
                // Update the UI with the filtered notes
                document.getElementById('notes').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
    }
</script>

{% endblock %}