<!-- templates/filtered_notes.html -->

{% extends "base.html" %}
{% block title %}Filtered Notes{% endblock %}
{% block content %}
<h1 align="center">{{ user.first_name }}'s Filtered Notes</h1>

<ul class="list-group list-group-flush" id="notes">
    {% for note in filtered_notes %}
    <li class="list-group-item">{{ note.data }}<-- <button type="button" class="close"
            onclick='deleteNote({{ note.id }})' <span aria-hidden="true">
            &times;</span>
            </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}